(
    version: 3,
    dock_state: (
        surfaces: [
            Main((
                nodes: [
                    Horizontal((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 44.0,
                            ),
                            max: (
                                x: 2560.0,
                                y: 1341.3438,
                            ),
                        ),
                        fraction: 0.8057356,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Vertical((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 44.0,
                            ),
                            max: (
                                x: 2062.0,
                                y: 1341.3438,
                            ),
                        ),
                        fraction: 0.6573797,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Vertical((
                        rect: (
                            min: (
                                x: 2063.3333,
                                y: 44.0,
                            ),
                            max: (
                                x: 2560.0,
                                y: 1341.3438,
                            ),
                        ),
                        fraction: 0.5,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 44.0,
                            ),
                            max: (
                                x: 2062.0,
                                y: 896.6667,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 0.0,
                                y: 68.0,
                            ),
                            max: (
                                x: 2062.0,
                                y: 896.65625,
                            ),
                        ),
                        tabs: [
                            Viewport,
                        ],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Horizontal((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 898.0,
                            ),
                            max: (
                                x: 2062.0,
                                y: 1341.3438,
                            ),
                        ),
                        fraction: 0.68267024,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 2063.3333,
                                y: 44.0,
                            ),
                            max: (
                                x: 2560.0,
                                y: 692.6667,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 2063.3438,
                                y: 68.0,
                            ),
                            max: (
                                x: 2560.0,
                                y: 692.65625,
                            ),
                        ),
                        tabs: [
                            Hierarchy,
                        ],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 2063.3333,
                                y: 693.3333,
                            ),
                            max: (
                                x: 2560.0,
                                y: 1341.3438,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 2063.3438,
                                y: 717.34375,
                            ),
                            max: (
                                x: 2560.0,
                                y: 1341.3438,
                            ),
                        ),
                        tabs: [
                            Inspector,
                        ],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Empty,
                    Empty,
                    Leaf((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 898.0,
                            ),
                            max: (
                                x: 1407.3334,
                                y: 1341.3438,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 0.0,
                                y: 922.0,
                            ),
                            max: (
                                x: 1407.3438,
                                y: 1341.3438,
                            ),
                        ),
                        tabs: [
                            Assets,
                            Physics,
                            Textures,
                            RenderGraph,
                            Timeline,
                            Profiler,
                        ],
                        active: (3),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 1408.0,
                                y: 898.0,
                            ),
                            max: (
                                x: 2062.0,
                                y: 1341.3438,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 1408.0,
                                y: 922.0,
                            ),
                            max: (
                                x: 2062.0,
                                y: 1341.3438,
                            ),
                        ),
                        tabs: [
                            Console,
                        ],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Empty,
                    Empty,
                    Empty,
                    Empty,
                ],
                focused_node: Some((3)),
                collapsed: false,
                collapsed_leaf_count: 0,
            )),
            Empty,
        ],
        focused_surface: Some((0)),
        translations: (
            tab_context_menu: (
                close_button: "Close",
                eject_button: "Eject",
            ),
            leaf: (
                close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
                close_all_button: "Close window",
                close_all_button_menu_hint: "Right click to close this window.",
                close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
                close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
                close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
                minimize_button: "Minimize window",
                minimize_button_menu_hint: "Right click to minimize this window.",
                minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
                minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
            ),
        ),
    ),
    maximize_viewport: false,
    floating_hierarchy: true,
    floating_inspector: true,
)